:root {
    --gryfffindor: #A70000;
    --slytherin: #006404;
    --hufflepuff: #C78F00;
    --ravenclaw: #004D95;
    --lightGrey: #828282;
    --extraLightGrey: #E0E0E0;
    --darkGrey: #454545;
}
body {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 24px;
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 32px;
    margin: 15px 0px 30px 0px;
}
header {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 999999;
    background: #ffffff;
    box-shadow: 0px 10px 10px #00000060;
}
.logo{
    display: flex;
    align-items: center;
    font-family: "Jaini", system-ui;

    img{
        padding: 10px;
    }
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}   
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #efefef;
}
section {
    text-align: center;
}
section:nth-child(even) {
    background-color: #fff;
}
#houses{
    padding: 50px 20px;
}
.wrapper {
    max-width: 1080px;
    margin: auto;
}
.houses-list{
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    .house{
        display: flex;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        max-width: 320px;
        max-height: 30px;
        justify-content: space-between;
        align-items: center;

    }  
    .house-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 50px;
        flex: 1;

        img{
            max-width: 40px;
            height: auto;
        }
        .house-name{
            font-family: "Jaini", system-ui;
            font-size: 20px;
            color: white;
            text-shadow: 0px 0px 5px black;        
        }
    }
}
.bg-gr{
    background-color: var(--gryfffindor);
}
.bg-sl{
    background-color: var(--slytherin);
}
.bg-hu{
    background-color: var(--hufflepuff);
}
.bg-ra{
    background-color: var(--ravenclaw);
}

#characters{
    padding: 50px 20px;
}   
.characters{
    display: flex;
    flex-direction: column;
}
.char-row{
    display: flex;
    flex-direction: row;

    .secondary{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
    }
}
.characters-grid{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto;
    gap: 15px;
    margin: auto;
}
.main{
    .box-char{
        text-align: left;

        img{
            width: 100%;
            height: -webkit-fill-available;
            border-radius: 5px;
        }
        h4{
            margin: 10px 0 5px 0;
        }
        p{
            font-size: 14px;
        }
    }
}
.secondary{
    .box-char{
        text-align: left;

        img{
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        h4{
            margin: 10px 0 5px 0;
        }
        p{
            font-size: 14px;
        }
    }
}

/*===CAROUSEL===*/
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    width: 30px;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00000060;
    user-select: none;
}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    height: 65vh;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    background-position: top right;
    background-size: cover;
    flex-direction: column;

    .book-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 10px;
        padding: 20px 50px;
        max-width: 767px;
        

        .title{
            font-family: "Jaini", system-ui;
            font-size: 30px;
            margin: 0;
            text-align: left;   
        }
        .history{
            font-size: 14px;
            line-height: 1.25;
            margin: 0;
            text-align: left;
        }
    }
    .book-grid > img {
        width: 150px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #00000060;
        grid-area: 1 / 1 / none / 1;
        
    }
}
.carousel-item:nth-child(4n+1) {
    background-image: url('../images/slide-gryffindor.jpg');
}
.carousel-item:nth-child(4n+2) {
    background-image: url('../images/slide-slytherin.jpg');
}
.carousel-item:nth-child(4n+3) {
    background-image: url('../images/slide-hufflepuff.jpg');
}
.carousel-item:nth-child(4n+4) {
    background-image: url('../images/slide-ravenclaw.jpg');
}


/*===FOOTER===*/
footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 50px 20px 20px 20px;
    border-top: 1px solid var(--extraLightGrey);
}
.footer-links{
    display: grid;
    grid-template-columns: auto auto;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.social > p{
    margin: 0;
    text-align: left;
}
.social > a,
.social > a:active,
.social > a:focus,
.social > a:target,
.social > a:visited,
.right > a,
.right > a:active,
.right > a:focus,
.right > a:target,
.right > a:visited{
    color: var(--lightGrey);
    text-decoration: none;
    padding: 0 5px 5px 0;
}
.right > a:hover,
.social > a:hover{
    color: var(--darkGrey);
}
h5{
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 24px;
}
.follow{
    padding: 0 0 10px 0;
}
.fa-brands{
    font-size: 20px;
}
.copyright{
    font-size: 12px;
}
#contact{
    padding: 50px 20px 70px 20px;
}
#admission-form {
    text-align: left;
}
#admission-form > div{
    margin: 0 0 20px 0;    
}
#admission-form > span{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    display: block;
}
.letter{
    display: grid;
    grid-template-columns: 60% 38%;
    grid-template-rows: auto;
    gap: 15px;
}
.school-image > img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#admission-form > p {
    font-size: 20px;
}
#admission-form > p > span{
    font-family: "Jaini", system-ui;
    font-size: 24px;
}
.form-container{
    order: -1;
}
.label-group {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
        min-width: fit-content;
        padding-right: 10px;
        text-align: left;
    }
    input[type=text], input[type=email], input[type=radio]{
        width: -webkit-fill-available;
        height: 40px;
        padding: 0px 15px;
    }
    input[type=file]{
        width: -webkit-fill-available;
        height: 40px;
        padding: 0;
    }
    input[type=text], input[type=email]{
        border-radius: 5px;
        border: 1px solid var(--extraLightGrey);
    }
    select{
        width: -webkit-fill-available;
        height: 45px;
        border-radius: 5px;
        border: 1px solid var(--extraLightGrey);
        padding: 0px 15px;
    }
    
    input[type=radio]{
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }
}
#submit-btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #828282;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
#submit-btn:hover {
    background: #454545;
    text-decoration: none;
}



/*===MEDIA QUERY===*/
/* MOBILE*/
@media all and (max-width: 480px) {
    header {
        flex-direction: column;
    }
    nav a {
        padding: 10px;
        margin: 0px;
        font-size: 12px;
    }
    .houses-list {
        .house{
            max-width: unset;

        }
    }
    .carousel-item{
        .book-grid{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            align-items: start;
            padding: 20px 40px;
            column-gap: 15px;
            row-gap: 15px;

            .title {
                font-size: 20px;
                line-height: 1.25;
                grid-area: 1 / 2 / 1 / 2;
            }
            .history{
                font-size: 12px;
                grid-area: 2 / 1 / 2 / none;
            }
        }
        .book-grid > img {
            width: 60px;
            grid-area: 1 / 1 / 1 / 1
        }
    }
    .characters-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        max-width: 1080px;
        margin: auto;
    }
    .char-row{
        .secondary {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 15px;
        }
    }
    .form-container{
        order: 1;
    }
    .letter {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .label-group {
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* TABLET */
@media (min-width: 480px) and (max-width: 1023px) {
    .characters-grid {
        display: grid;
        grid-template-columns: 0.75fr 1.25fr;
        grid-template-rows: auto;
        gap: 15px;
        margin: auto;
    }
    .char-row{
        .secondary {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 15px;
        }
    }
    .houses-list{
        .house{
            max-width: calc(50% - 40px);

        }
    } 
}

/* DESKTOP */
@media (min-width: 1024px) {
    .carousel-item{
        .book-grid{
            .history {
                font-size: 18px;
                line-height: 1.25;
                margin: 0;
                text-align: left;
            }
        }
    }
    .houses-list{
        .house{
            max-width: calc(25% - 40px);;

        }
    }
    .letter {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        gap: 15px;
    }
}