
.fondo{
    background: url("Imgs/fondo.jpg") no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.titulo{
    color: goldenrod;
    font-style: italic;
    text-shadow: 0 0 black;
}

.cuerpo{
    color: goldenrod;
    text-shadow: 0 0 black;
    font-size: x-large;

}